.env
.idea/*
.php-cs-fixer.cache
.phpunit.result.cache
clover.xml
node_modules/
plausible-conf.env
public/css/
public/js/
public/mix-manifest.json
public/uploadedimages/
storage/debugbar/
temp/
tests/Coverage/
vendor/
version.yml
volume/
